<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A RESTful API and UI implementating of the Operational Transaction algorithm. Python, Django, jQuery, Bootstrap, CSS3, and ES6 are some of the technolgies used in this project.">

  <title>django-operational-transaction</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="staticfiles/css/bootstrap.css">
  <link rel="stylesheet" href="staticfiles/css/jquery-min.css">
  <link rel="stylesheet" href="staticfiles/css/jquery-ui.css">
</head>
<body>
  <h3>Conversations</h3>

  <script src="staticfiles/js/external/jquery-3.3.1.js"></script>
  <script src="staticfiles/js/external/jquery-ui-1.12.1.js"></script>
  <script src="staticfiles/js/external/bootstrap.js"></script>

  <script src="staticfiles/js/main.js'"></script>
</body>
</html>
